


<nav align='center' class="navbar navbar-dark bg-dark">
    <!-- <a class="navbar-brand" href="#">Online shopping</a> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">My Home</a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <a routerLink="/">| Home</a> 
        <a routerLink="/address">| Address</a> 
        <a routerLink="/createproduct"  > | Add Product</a> 
        <a routerLink="/searchcustomer" > | View Customers</a> 
        <a routerLink="/product" > | View Products</a> 
        <a routerLink="/searchorder">| View Orders</a> 
        <a routerLink="/customer" > | Customer Registration</a>   
        <a routerLink="/customerlogin"> | Customer Login</a> 
        <a routerLink="/customerlogout"> | Logout</a> 
        <a routerLink="/customerprofile" > | Profile</a> 
        <a routerLink="/adminlogin"> | Admin Login</a>
        <a routerLink="/adminlogout" > | Logout</a> 
       



    </div>
  </nav>
 